body {
	font: 14px/16px sans-serif;
}
input:not([type="radio"]) {
	margin: 5px 0;
	border-radius: 4px;
	height: 25px;
}
textarea {
	border-radius: 4px;
	width: 100%;
	resize: none;
}
hr {
	border: none;
    color: #e0e0e0;
    background-color: #e0e0e0;
    height: 1px;
}
.full {
	margin: 0;
	padding: 0;
}
.Rght_almnt_text {
	float:right;
	margin: 4px 0;
	color: #b0b0b0;
	font-style: italic;
	font-size: 11px;
}
.Info_block {
	background: #efeeee;
	padding: 15px;
}
.Radio_block {
	float: left;
	width: 350px;
}
.Num {
	width: 70px;
}
.Form_block {
	width: 80%;
	margin: 10px auto;
	border: 1px solid #e0e0e0;
	border-radius: 5px;
}
.Title_block {
	background: linear-gradient(to top, #efeeee, #FFF);
	height: 50px;
	line-height: 40px;
}
.Input_block {
	background: #f6f6f6;
	padding: 15px;
}
.Doc_list {
	width: 100%;
	border-radius: 4px 10px 10px 4px;
	border: 1px solid #bbbcbd;
	height: 25px;
	margin: 5px 0;
}
.Names {
	width: 50%;
}
#rectangle {
	float:left;
	margin: 14px 5px 13px 0;
	width: 6px;
	height: 20px;
	background: #ba2745;
}
#Caption {
	position: relative;
	top: 6px;
	font: 20px/22px sans-serif;
}
.Req {
	background: #FFF url(images/znak.png) no-repeat 98% center;
}
#PLACE {
	width: 60%; 
}
#DATE {
	width: 150px;
	border-radius: 4px 10px 10px 4px;
}
.Button_block {
	background: #efeeee;
	padding: 6px 0 6px 0;
}
#Submit {
	color: #454545;
	margin: 0px auto;
	display: block;
	background: linear-gradient(to top, #EEE, #FFF);
	cursor:pointer;
	border-radius: 5px;
	padding: 4px 15px;
	border: 2px solid #dbdbdb;
	font-weight: 600; 
	line-height: 1.5;
}
#Submit:hover {
	border: 2px solid #AAA;
}
::-webkit-input-placeholder {
   font-style: italic;
}

:-moz-placeholder { /* Firefox 18- */
   font-style: italic; 
}

::-moz-placeholder {  /* Firefox 19+ */
   font-style: italic;  
}

:-ms-input-placeholder {  
   font-style: italic;  
}